PORT = 
HOST = # path para la documentacion

DATABASE_URL="postgresql://postgres:TU_PASSWORD@localhost:5432/DATABASE?schema=public"
JWT_ACCESS_SECRET = # firma
JWT_REFRESH_SECRET = # firma
JWT_ACCESS_TTL = #  900s # 15m duracion del token
JWT_REFRESH_TTL = # 7d tiempo de vigencia del refresh token
APP_ORIGIN = # https://frontend-url
